[Unit]
Description=Non Graphical Feedback Daemon
Requires=dbus.socket

[Service]
Type=simple
ExecStart=/usr/bin/ngfd

[Install]
WantedBy=multi-user.target
