[Unit]
Description=Synchronize time from a non-writable real-time clock (RTC) using a cached file.
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=Yes
TimeoutSec=0
ExecStart=-/usr/sbin/swclock-offset-boot
ExecStop=/usr/sbin/swclock-offset-shutdown

[Install]
WantedBy=basic.target
