[Unit]
Description=Application launch booster for Qt Components on QtQuick2
Requires=dbus.socket asteroid-launcher.service
After=asteroid-launcher.service
ConditionUser=!root

[Service]
Type=notify
ExecStart=/usr/libexec/mapplauncherd/booster-qtcomponents-qt5 --systemd
EnvironmentFile=/var/lib/environment/mapplauncherd/qtcomponents-qt5.conf
OOMScoreAdjust=-250

[Install]
WantedBy=user-session.target
