[Unit]
Description=Mode Control Entity (MCE)
DefaultDependencies=no
Requires=dbus.socket
After=dbus.socket
After=local-fs.target
Conflicts=shutdown.target

[Service]
Type=notify
Environment=DSME_SOCKFILE=/run/dsme.socket
ExecStart=/usr/sbin/mce --systemd
TimeoutSec=2
Restart=always

[Install]
WantedBy=multi-user.target
