[Unit]
SourcePath=/etc/init.d/psplash.sh
Description=Lightweight splashscreen
DefaultDependencies=no
Before=sysinit.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/etc/init.d/psplash.sh start
ExecStop=/etc/init.d/psplash.sh stop
