ACTION=="add", KERNEL=="ion", MODE="0664", GROUP="video"
ACTION=="add", KERNEL=="kgsl-3d0", MODE="0664", GROUP="video"
ACTION=="add", KERNEL=="mm_interlock", MODE="0664", GROUP="video"
ACTION=="add", KERNEL=="mm_v3d", MODE="0664", GROUP="video"
ACTION=="add", KERNEL=="mtk_disp_mgr", MODE="0664", GROUP="video"
ACTION=="add", KERNEL=="MTK_SMI", MODE="0664", GROUP="video"
ACTION=="add", KERNEL=="mali", MODE="0664", GROUP="video"
