# Taken from https://bazaar.launchpad.net/~ubuntu-branches/ubuntu/saucy/
# lxc-android-config/saucy/view/head:/lib/udev/rules.d/65-android.rules

# (c) 2013 Canonical LTD.
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the the GNU General Public License version 3, as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranties of
# MERCHANTABILITY, SATISFACTORY QUALITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the applicable version of the GNU Lesser General Public
# License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# logging devices
ACTION=="add", KERNEL=="log_*", MODE="0666"
ACTION=="add", KERNEL=="log_main", SYMLINK+="alog/main"
ACTION=="add", KERNEL=="log_system", SYMLINK+="alog/system"
ACTION=="add", KERNEL=="log_radio", SYMLINK+="alog/radio"
ACTION=="add", KERNEL=="log_events", SYMLINK+="alog/events"

# system devices
ACTION=="add", KERNEL=="binder", MODE="0666"

# graphics devices
SUBSYSTEM=="graphics", KERNEL=="*", SYMLINK+="graphics/%k"

# input devices
ACTION=="add", KERNEL=="event[0-9]*", GROUP="system", MODE="0660"

# misc devices
ACTION=="add", KERNEL=="alarm", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="uhid", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", GROUP="mtp", MODE="0664"

# memory
ACTION=="add", KERNEL=="ashmem", GROUP="system", MODE="0666"

# rfkill
ACTION=="add", KERNEL=="rfkill", GROUP="system", MODE="0660"
