[Unit]
Description=StateFS FUSE filesystem
# statefs has not this dependency but some providers has
# TODO: make it smarter, maybe it is possible to make
# this dependency conditional
Requires=dbus.socket
ConditionUser=!root

[Service]
EnvironmentFile=/etc/sysconfig/statefs/session*.conf
ExecStartPre=/usr/bin/statefs-prerun
ExecStart=/usr/bin/statefs ${XDG_RUNTIME_DIR}/state -f -o allow_other,default_permissions,file_umask=${STATEFS_UMASK}
Restart=always
RestartSec=1

[Install]
WantedBy=pre-user-session.target

