[Unit]
Description=Time Daemon
Requires=dbus.socket
After=dbus.socket
ConditionUser=!root

# Service type should be dbus, but timed dbus API is on the system bus, which systemd does not detect
[Service]
Type=notify
ExecStart=/usr/bin/timed-qt5 --systemd
Restart=always
RestartSec=1

[Install]
WantedBy=pre-user-session.target
