[Unit]
Description=Starts the BLE synchronization daemon
Requires=dbus.socket
After=bluetooth.service
 
[Service]
Type=simple
ExecStart=/usr/bin/asteroid-btsyncd
Restart=always
 
[Install]
WantedBy=default.target
