SUBSYSTEM=="graphics", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="block", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="drm", SYMLINK+="dri/%k"
SUBSYSTEM=="oncrpc", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="adsp", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="msm_camera", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="mtd", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="block", SYMLINK+="$env{SUBSYSTEM}/%k"
SUBSYSTEM=="misc", KERNEL=="log_events", SYMLINK+="alog/events"
SUBSYSTEM=="misc", KERNEL=="log_radio", SYMLINK+="alog/radio"
SUBSYSTEM=="misc", KERNEL=="log_system", SYMLINK+="alog/system"
SUBSYSTEM=="misc", KERNEL=="log_main", SYMLINK+="alog/main"

ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{ID_PART_ENTRY_NAME}=="?*", SYMLINK+="block/platform/msm_sdcc.1/by-name/$env{ID_PART_ENTRY_NAME}"
