[Unit]
Description=The lipstick UI
Requires=dbus.socket
 
[Service]
Type=notify
EnvironmentFile=-/usr/share/lipstick-glacier-home-qt5/nemovars.conf
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStartPre=/bin/sh -ec 'while [ ! -f /dev/.coldboot_done ]; do sleep 1; done'
ExecStart=/usr/bin/lipstick $LIPSTICK_OPTIONS --systemd
Restart=always
 
[Install]
WantedBy=default.target
